body{
    text-align: center;
    background-color: blueviolet;
    color: black;
    height: 97vh;
}

.flex-container {
    display: flex;
    background-color: antiquewhite;
    height: 100%;
}

.flex-child {
    flex: 1;
    padding: 10%;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

p{
    font-weight: bolder;
    font-size: medium;
}


.message-box{
    background-color: white ;
    height: 300px;
    width: 500px;
}
button{
    margin-left: 90%;
    display: block;
}