body{
    text-align: center;
    background-color: blueviolet;
    color: black;
    height: 97vh;
}

.flex-container {
    display: flex;
    background-color: antiquewhite;
    height: 100%;
}

.flex-child {
    flex: 1;
    padding: 10%;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

p{
    font-weight: bolder;
    font-size: medium;
}


.message-box{
    background-color: transparent;
    height: 300px;
    width: 500px;
}

#message-display-box{
    position: relative;
    top: 20%;
}

button{
    margin-left: 90%;
    display: block;
}

#display-check{
    vertical-align: bottom;
    margin-top: 5px;
}

table{
    border-spacing: 10px;
    margin: auto;
    padding-bottom: 0px;
    width: 100%;

}

tr{
    width: 100%;
}

td{
    width: 100%;
}

#delete-btn{
    visibility: hidden;
}